* {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
}
 


.header-inner-content{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}/* header */


.logo {
  color: #008cfffd;

}/* primeira cor do nome do site */

.logo span {
  color: #b81212;

}/* segunda cor do nome do site */


.rate {
  color: rgb(255, 17, 0);
  font-size: 1.3rem;
}/* cor das estrelas do produtos*/

.menu {
  list-style: none;
  float: left;
}

.menu li {
  position: relative;
  float: left;
}

.menu li a {
  color: #fcf8f8;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: #0c0505;
  -moz-box-shadow: 0 3px 10px 0 #fffcfc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #000000;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}